

/* header css */
/* upper part of header */
.background01 {
  background: #000000 url(../media/images/Gentse-feesten-01.jpg) no-repeat;
}

.background02 {
  background: #000000 url(../media/images/Gentse-feesten-02.jpg)no-repeat;
}

.background03 {
  background: #000000 url(../media/images/Gentse-feesten-03.jpg)no-repeat;
}

.background04 {
  background: #000000 url(../media/images/Gentse-feesten-04.jpg)no-repeat;
}

.background05 {
  background: #000000 url(../media/images/Gentse-feesten-05.jpg) no-repeat;
}

.background06 {
  background: #000000 url(../media/images/Gentse-feesten-06.jpg) no-repeat;
}

.background07 {
  background: #000000 url(../media/images/Gentse-feesten-07.jpg) no-repeat;
}

.background08 {
  background: #000000 url(../media/images/Gentse-feesten-08.jpg) no-repeat;
}

.background09 {
  background: #000000 url(../media/images/Gentse-feesten-09.jpg) no-repeat;
}

.background {
  background-position: 35% center;
  background-size: cover;
}

@media(min-width: 80rem) {
  .background {
    background-position: 50% center;
  }
}

.upper-header {
  box-sizing: border-box;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

@media(min-width: 80rem) {
  .upper-header {
    height: 90vh;
  }
}

.upper-header--day {
  padding: 1.5rem 0;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media(min-width: 64rem) {
  .upper-header--day {
    justify-content: flex-start
  }
}

@media(min-width: 80rem) {
  .upper-header--day {
    height: 90vh;
    justify-content: space-between;
  }
}

.upper-header--day__top {
  width:100%;
  padding-bottom: 15vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.upper-header__logo {
  width: 11.25rem;
}

@media(min-width: 48rem) {
  .upper-header__logo {
    width: 17.5rem;
  }
}

/* burger-menu */
.upper-header__burger-menu {
  background: none;
  border: none;
  cursor: pointer;
}

@media(min-width: 80rem) {
  .upper-header__burger-menu {
    display: none;
  }
}

.upper-header__burger-menu>svg {
  width: 2rem;
  padding: 0.5rem;
}

.burger-menu-inside {
  background: #000000;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  left: 0;
  z-index: 1;
  display: none;
}

.burger-menu-inside__button {
  position: absolute;
  margin: 0;
  padding: 0 0.375rem;
  border: none;
  background-color: #000000;
  width: 3.25rem;
  height: 3.75rem;
  top: 0;
  right: 0%;
  cursor: pointer;
}

.burger-menu-inside__button>img {
  width: 2.5rem;
}

.burger-menu-inside__links {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.burger-menu-inside__links:hover {
  text-decoration: underline;
}

.burger-menu-inside__links>img {
  width: 1.625rem;
  margin-right: 1rem;
}

.burger-menu-inside__program-button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.burger-menu-inside__program-button:hover {
  text-decoration: underline;
}

.burger-menu-inside__program-button>svg {
  fill: #FFFFFF;
}


.burger-menu-inside__day-menu {
  border-left: 3px solid #FFFFFF;
  padding-left: 1.5rem;
  display: none;
}

.burger-menu-inside__day-menu>li {
  margin: 1rem 0;
}

.burger-menu-inside__day-links {
  color: #FFFFFF;
  text-decoration: none;
}

.burger-menu-inside__day-links:hover {
  text-decoration: underline;
}

.burger-menu-inside__visible {
  display: block;
}

.chevron-down {
  transform: rotate(0deg);
}

.chevron-up {
  transform: rotate(180deg);
}

/* full menu */
.upper-header__full-menu {
  width: 35.5rem;
}

@media(max-width: 79.999rem) {
  .upper-header__full-menu {
    display: none;
  }
}

.full-menu__upper-part {
  display: flex;
  justify-content: space-between;
}

.full-menu-searchbar {
  display: flex;
}

.full-menu-searchbar__input {
  box-sizing: border-box;
  width: 21.25rem;
  height: 2.75rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0 5rem 0 1rem;
  border: none;
}

.full-menu-searchbar__search-button {
  cursor: pointer;
  border: 3px solid #000;
  padding: 0;
  background: #000000;
}

.full-menu-searchbar__search-button:hover {
  background: #FFFFFF;
}

.full-menu-searchbar__search-button>svg {
  fill: #FFFFFF;
  padding: 0 1.313rem;
  width: 1.5rem;
}

.full-menu-searchbar__search-button>svg:hover {
  fill: #000000;
}

.full-menu__language-select {
  border: none;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 1rem;
  font-weight: 600;
}

.full-menu__links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.full-menu__links>li {
  padding: 0 1.375rem;
}

.menu-links {
  font-size: 1.188rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.menu-links:hover::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1.75rem;
  height: 4px;
  background: #FFFFFF;
}

.current-page::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1.75rem;
  height: 4px;
  background: #FFFFFF;
}

.upper-header--day__subtitle {
  max-width: 100%;
  width: 18.25rem;
  margin-left: auto;
  margin-right: 0;
  height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}
@media(min-width: 64rem){
  .upper-header--day__subtitle {
    width: 22.5rem;
    height: 8rem;
  }
}
@media(min-width: 80rem){
  .upper-header--day__subtitle {
    width: 32.5rem;
    height: 10rem;
  }
}
.upper-header--day__svg-small {
  height: 1.625rem;
  width: 7rem;
  margin: 0 0 0.625rem;
}

.upper-header--day__svg-large {
  width: 100%;
}

.upper-header--day__svg {
  fill: #FFFFFF;
}

/* lower part of header */
.lower-header {
  position: relative;
  max-width: 100%;

}

.lower-header__subtitle {
  padding: 1.5rem 0;
  max-width: calc(100% - 3rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media(min-width: 80rem) and (max-height: 56.25rem) {
  .lower-header__subtitle {
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: calc(2rem + 12rem);
    right: 0;
  }
}

@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower-header__subtitle {
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: calc(2rem + 28.125rem);
    right: 0;
  }
}

.lower-header__svg-small {
  height: 1.625rem;
  margin: 0 0 0.625rem;
}

@media(min-width: 80rem) {
  .lower-header__svg-small {
    width: 7rem;
    transform: rotate(-90deg);
    padding-left: 1.5rem;
  }
}

.lower-header__svg-large {
  width: 16.25rem;
}

@media(min-width: 80rem) {
  .lower-header__svg-large {
    width: 25rem;
  }
}

.lower-header__svg {
  fill: #000000;
}

@media(min-width: 80rem) {
  .lower-header__svg {
    fill: #FFFFFF;
  }
}

.lower-header__calendar,
.lower-header--day__calendar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media(min-width: 48rem) {

  .lower-header__calendar,
  .lower-header--day__calendar {
    flex-wrap: nowrap;
  }
}

@media(min-width: 80rem) and (max-height: 56.25rem) {
  .lower-header__calendar {
    flex-wrap: wrap;
    width: 37.5rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
  }
}

@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower-header__calendar {
    flex-wrap: wrap;
    width: 18.75rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
  }
}

@media(min-width: 95rem) {
  .lower-header--day__calendar {
    margin: 0 auto;
    width: 95rem;
  }
}

.lower-header__calendar>li,
.lower-header--day__calendar>li {
  width: 20%;
  padding-top: 20%;
  box-sizing: border-box;
  position: relative;
}

@media(min-width: 48rem) {

  .lower-header__calendar>li,
  .lower-header--day__calendar>li {
    width: 10%;
    padding-top: 10%;
  }
}

@media(min-width: 80rem) and (max-height: 56.25rem) {
  .lower-header__calendar>li {
    width: 20%;
    padding-top: 16%;
  }
}

@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower-header__calendar>li {
    width: 50%;
    padding-top: 30%;
  }
}

.calendar__link,
.calendar--day__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width: 80rem) {
  .calendar__link {
    background-color: #FFFFFF;
    color: #000000;
  }
}

.calendar__link:hover,
.calendar--day__link:hover {
  background-color: #FFFFFF;
  color: #000000;
}

@media(min-width: 80rem) {
  .calendar__link:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}

.calendar__link>p,
.calendar--day__link>p {
  margin: 0;
}

.active-day {
  background-color: #FFFFFF;
  color: #000000;
}

.calendar__day-abbrev {
  font-weight: 700;
}

@media(min-width: 36rem) {
  .calendar__day-abbrev {
    font-size: 1.625rem;
  }
}

.calendar__day-numerical {
  font-size: 0.813rem;
}

@media(min-width: 36rem) {
  .calendar__day-numerical {
    font-size: 1.125rem;
  }
}

