/* general css */
html {
  font-family: 'Raleway Medium';
  font-style: normal;
  font-stretch: normal;
}

body {
  margin: 0;
}

section.all-padding {
  padding: 1.5rem;
}

section.side-padding {
  padding: 0 1.5rem;
}

h2 {
  font-family: 'Raleway Black';
  font-size: 1.875rem;
  margin: 0 0 1rem;
}

p {
  font-size: 1.125rem;
  margin: 0 0 1.463rem;
}

label {
  font-family: 'Raleway';
  margin-bottom: 0.375rem;
}

ul.no-bullets {
  list-style-type: none;
}

/* header css */
/* upper part of header */
.upper__header {
  box-sizing: border-box;
  height: 75vh;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media(min-width: 80rem) {
  .upper__header {
    height: 90vh;
  }
}

.background01 {
  background: #000000 url(../media/images/Gentse-feesten-01.jpg) no-repeat;
}

.background02 {
  background: #000000 url(../media/images/Gentse-feesten-02.jpg)no-repeat;
}

.background03 {
  background: #000000 url(../media/images/Gentse-feesten-03.jpg)no-repeat;
}

.background04 {
  background: #000000 url(../media/images/Gentse-feesten-04.jpg)no-repeat;
}

.background05 {
  background: #000000 url(../media/images/Gentse-feesten-05.jpg) no-repeat;
}

.background06 {
  background: #000000 url(../media/images/Gentse-feesten-06.jpg) no-repeat;
}

.background07 {
  background: #000000 url(../media/images/Gentse-feesten-07.jpg) no-repeat;
}

.background08 {
  background: #000000 url(../media/images/Gentse-feesten-08.jpg) no-repeat;
}

.background09 {
  background: #000000 url(../media/images/Gentse-feesten-09.jpg) no-repeat;
}

.background {
  background-position: 35% center;
  background-size: cover;
}

@media(min-width: 80rem) {
  .background {
    background-position: 50% center;
  }
}

.upper__header--logo {
  width: 11.25rem;
}

@media(min-width: 48rem) {
  .upper__header--logo {
    width: 17.5rem;
  }
}

.upper__header--burger-menu {
  background: none;
  border: none;
}

@media(min-width: 80rem) {
  .upper__header--burger-menu {
    display: none;
  }
}

.upper__header--burger-menu>svg {
  width: 2rem;
  padding: 0.5rem;
}

.upper__header--full-menu {
  width: 35.5rem;
}

@media(max-width: 79.999rem) {
  .upper__header--full-menu {
    display: none;
  }
}

.full-menu--upper-part {
  display: flex;
  justify-content: space-between;
}

.full-menu__searchbar {
  display: flex;
}

.full-menu__searchbar--input {
  box-sizing: border-box;
  width: 21.25rem;
  height: 2.75rem;
  font-family: 'Raleway';
  font-size: 1.2rem;
  margin: 0;
  padding: 0 5rem 0 1rem;
  border: none;
}

.full-menu__searchbar--search-button {
  border: none;
  padding: 1.375rem 2.875rem;
  background: #000000 url(../media/icons/search.svg) center no-repeat;
}

.full-menu__language-select {
  border: none;
  font-family: 'Raleway SemiBold';
  color: #FFFFFF;
  background-color: #000000;
  font-size: 1rem;
}

.full-menu__links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.menu-links {
  padding: 0 1.375rem;
  font-family: 'Raleway Bold';
  font-size: 1.188rem;
  color: #FFFFFF;
  text-decoration: none;
}
.current-page


/* lower part of header */
.lower__header--subtitle {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
@media(min-width: 80rem) and (max-height: 56.25rem) {
.lower__header--subtitle {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: calc(15% + 12rem);
  right: 0;
}
}
@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower__header--subtitle {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: calc(15% + 28.125rem);
    right: 0;
  }
  }

.lower__header--svg-small {
  height: 1.625rem;
  margin: 0 0 0.625rem;
}
@media(min-width: 80rem) {
  .lower__header--svg-small {
    width: 7rem;
    transform: rotate(-90deg);
    padding-left: 1.5rem;
  }
}

.lower__header--svg-large {
  width: 16.25rem;
}
@media(min-width: 80rem) {
  .lower__header--svg-large {
    width: 25rem;
  }
}

.lower__header--svg {
  fill: #000000;
}
@media(min-width: 80rem) {
  .lower__header--svg {
    fill: #FFFFFF;
  }
}

.lower__header--calendar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media(min-width: 48rem) {
  .lower__header--calendar {
    flex-wrap: nowrap;
  }
}

@media(min-width: 80rem) and (max-height: 56.25rem) {
  .lower__header--calendar {
    flex-wrap: wrap;
    width: 37.5rem;
    position: absolute;
    bottom: 15%;
    right: 0;
  }
}
@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower__header--calendar {
    flex-wrap: wrap;
    width: 18.75rem;
    position: absolute;
    bottom: 15%;
    right: 0;
  }
}

.lower__header--calendar>li {
  width: 20%;
  padding-top: 20%;
  box-sizing: border-box;
  position: relative;
}

@media(min-width: 48rem) {
  .lower__header--calendar>li {
    width: 10%;
    padding-top: 10%;
  }
}

@media(min-width: 80rem) and (max-height: 56.25rem) {
  .lower__header--calendar>li {
    width: 20%;
    padding-top: 16%;
  }
}
@media(min-width: 80rem) and (min-height: 56.26rem) {
  .lower__header--calendar>li {
    width: 50%;
    padding-top: 30%;
  }
}

.calendar--link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width: 80rem) {
  .calendar--link {
    background-color: #FFFFFF;
    color: #000000;
  }
}

.calendar--link:hover {
  background-color: #FFFFFF;
  color: #000000;
}
@media(min-width: 80rem) {
  .calendar--link:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}

.calendar--link>p {
  margin: 0;
}

.calendar--day-abbrev {
  font-family: 'Raleway Bold';
}

@media(min-width: 36rem) {
  .calendar--day-abbrev {
    font-size: 1.625rem;
  }
}

.calendar--day-numerical {
  font-size: 0.813rem;
}

@media(min-width: 36rem) {
  .calendar--day-numerical {
    font-size: 1.125rem;
  }
}

/* footer css */
section.upper__footer {
  margin: 8rem auto 2rem;
  width: calc(100% - 3rem);
  max-width: 50rem;
}

section.footer__email-input {
  width: 100%;
  position: relative;
}

section.footer__email-input>input {
  width: calc(100% - 2rem);
  max-width: 50rem;
  height: 3.5rem;
  margin: 0 1px;
  padding: 0 1rem;
  background-color: #e9e9e9;
  border: none;
}

section.footer__email-input>input:focus {
  outline: 2px dotted #ff0000;
  outline-offset: -2px;
}

section.footer__email-input>button {
  font-family: 'Raleway SemiBold';
  font-size: 1.125rem;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  height: 3.5rem;
  padding: 0.938rem 1.875rem;
  margin-top: 1.25rem;
}

@media(min-width: 36rem) {
  section.footer__email-input>button {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: left;
  }
}

p>a {
  color: #000000;
}

section.lower__footer {
  height: 27.5rem;
  background: #000000 url(../media/images/Gentse-feesten-01.jpg) 40% center no-repeat;
  background-size: cover;
  padding-bottom: 2.5rem;
}

@media(min-width: 80rem) {
  section.lower__footer {
    background-position-x: -40%;
    padding-bottom: 10rem;
  }
}

section.lower__footer--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

section.lower__footer--content>img {
  display: block;
  box-sizing: border-box;
  width: 15.75rem;
  padding: 2.25rem;
  margin: 0;
}

@media(min-width: 48rem) {
  section.lower__footer--content>img {
    width: 22rem;
  }
}

section.footer__flexbox>p {
  font-family: 'Raleway Bold';
  font-size: 1.25rem;
  color: #FFFFFF;
  line-height: 1.2;
  margin: 0;
  width: 28.125rem;
  max-width: 100%;
}

@media(min-width: 48rem) {
  section.footer__flexbox>p {
    font-size: 1.5rem;
  }
}

.footer__ul-flexbox {
  display: flex;
  margin: 2.5rem 0 0;
  padding: 0;
}

.footer__ul-flexbox>li {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 1rem;

}

a.footer__list {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}