/* general css & main css */

/* general css */
html {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 95rem;
  max-width: calc(100% - 3rem);
}

.container--max-width100 {
  margin: 0 auto;
  width: 95rem;
  max-width: 100%;
}

.all-padding {
  padding: 1.5rem;
}

.side-padding {
  padding: 0 1.5rem;
}
h1 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 0;
}
@media(min-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 0 0 1rem;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

p {
  font-size: 1.125rem;
  margin: 0 0 1.463rem;
}

label {
  margin-bottom: 0.375rem;
}

.no-bullets {
  list-style-type: none;
}

.strong {
  font-weight: 800;
  margin-right: 0.225rem;
}

.focus-effect:focus {
  outline: 2px dotted #ff0000;
  outline-offset: -2px;
}

.focus-effect--circle:hover {
  outline: 2px dotted #ff0000;
  border-radius: 50%;
  outline-offset: -2px;
}

.main__links {
  text-decoration: none;
  color: #000;
}

.main__links:hover>*>img {
  transform: scale(1.1);
}

/* css for events */
.main__events,
.day__random-events {
  margin-top: 3.75rem;
}

.events {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
  .events {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.event {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  width: 100%;
}

@media (min-width: 48rem) {
  .event {
    width: 50%;
    padding: 0 0.75rem;
  }
}

@media (min-width: 64rem) {
  .event {
    width: calc(100% / 3);
  }
}

.event__thumbnail-container {
  overflow: hidden;

}

.event__thumbnail {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

@media (min-width: 48rem) {
  .event__thumbnail {
    height: 25vw;
  }
}

@media (min-width: 64rem) {
  .event__thumbnail {
    height: 17.5vw;
  }
}

.event__article {
  padding-left: 2.5rem;
  position: relative;
  top: -2rem;
}

.event__date,
.random-event__date {
  color: #fff;
  background-color: #000;
  padding: 0.5rem 1rem;
  margin-bottom: 1.25rem;
  max-width: 7rem;
}

.event__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 16rem;
}

.date__day {
  font-weight: 600;
}

.date__day,
.date__hour {
  margin: 0 0.5rem 0 0;
  font-size: 1.625rem;
  line-height: 2rem;
}

.event__location {
  margin: 0;
}

/* css for event category-menu */

.event-categories {
  max-width: 100%;
  margin-bottom: 2.5rem;
}

.checkboxes-flexbox {
  display: flex;
  flex-direction: column;
}

.checkboxes-flexbox>li {
  margin-bottom: 1rem;
}

.checkbox-flexbox:first-child {
  margin: 0 0.625rem 0 5.3rem;
}

.checkbox-flexbox {
  margin: 0 0.625rem 1rem 1.5rem;
  display: flex;
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-box {
  outline: 3px solid #000;
}

@media (min-width: 64rem) {
  .checkboxes__s {
    display: none;
  }
}

@media (max-width: 63.999rem) {
  .checkboxes__l {
    display: none;
  }
}

.categories__flex {
  display: flex;
  margin-left: 1.5rem;
}

.categories__selectors {
  margin: 0 1.5rem 0 0;
}

.categories__title {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

@media(max-width: 79.999rem) {
  .categories__title {
    display: none;
  }
}

.category-selector {
  display: flex;
  width: 3.375rem;
  height: 3.375rem;
  border: 3px solid #000;
  margin-bottom: 1.25rem;
}

@media(min-width: 64rem) {
  .category-selector {
    width: auto;
    align-items: center;
  }
}

.category-selector>svg {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.45rem;
}

.category-selector--reverse {
  background-color: #000;
}

.category-selector--reverse {
  fill: #fff;

}

.category-selector__text {
  margin: 0;
  padding-right: 1rem;
  font-weight: 700;
}

.category-selector__text--reverse {
  color: #fff;
}

@media(max-width: 63.999rem) {
  .category-selector__text {
    display: none;
  }
}

.categories__list {
  box-sizing: border-box;
  max-width: 76rem;
  width: calc(100% - 5.25rem);
  padding: 1.25rem;
  word-wrap: break-word;
  background-color: #000;
  margin: 0;
}

.categories__list>li {
  margin: 0 0 1.25rem 1.5rem;
  cursor: pointer;
}

@media (min-width: 36rem) {
  .categories__list {
    padding: 4.375rem;
    column-count: 2;
  }

  .categories__list>li {
    line-height: 1.875rem;
  }
}

.categories__list>li:hover>.category {
  text-decoration: underline;
}

.category {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 48rem) {
  .category {
    font-size: 1.25rem;
  }
}

/* css for buttons*/
.display-toggle-buttons {
  display: flex;
  justify-content: flex-end;
}

.display-toggle-button {
  background-color: #fff;
  height: 3.25rem;
  width: 3.25rem;
  border: 3px solid #000;
  cursor: pointer;
}

.display-toggle-button:first-child {
  margin-right: 1.5rem;
}

.display-toggle-button:hover,
.display-toggle-button--active {
  background-color: #000;
}

.display-toggle-button:hover>svg,
.display-toggle-button--active>svg {
  fill: #fff;
}

/* css for events divided in categories */
.to-category-list {
  margin: 0 0 1rem 2.5rem;
  padding: 0.788rem 0;
  width: 1.375rem;
  height: 1.375rem;
}

@media(min-width: 80rem) {
  .to-category-list {
    padding: 2.263rem 0;
  }
}

.to-category-list>svg {
  width: 1.375rem;
  height: 1.375rem;

}

.category__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: calc(100% - 3rem);
}

.category__title>h2 {
  word-wrap: break-word;
}

@media(max-width: 47.999rem) {
  .category__title>h2 {
    font-size: 1.5rem;
  }
}

@media(min-width: 80rem) {
  .category__title>h2 {
    font-size: 3.75rem;
  }
}

.events-by-category {
  margin-bottom: 2.5rem;
}

/* css for events in raster-mode */
.event--raster {
  width: 100%;
  background-color: #000;
  margin-bottom: 1.5rem;
}

.categorized-event__article--raster {
  position: static;
  display: flex;
  flex-direction: column;
  padding: 1.125rem 2rem;
}

.categorized-event__article--raster:hover,
.categorized-event__article--raster:hover > * ,
.categorized-event__article--raster:hover > * > * {
  background-color: #e9e9e9;;
  color: #000;
}

@media(min-width: 64rem) {
  .categorized-event__article--raster {
    flex-direction: row;
    justify-content: space-between;
  }
}

.categorized-event__article--raster>div {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.categorized-event__article--raster>div>p {
  font-size: 1.063rem;
  font-weight: 900;
  margin-right: 2rem;
}

.categorized-event__article--raster>h3 {
  color: #fff;

  font-size: 1.188rem;
}

.categorized-event__article--raster>p {
  color: #fff;
  font-size: 0.938rem;
}

@media(min-width: 48rem) {

  .categorized-event__article--raster>div>p,
  .categorized-event__article--raster>p {
    font-size: 1.125rem;
  }

  .categorized-event__article--raster>h3 {
    font-size: 1.375rem;
    flex-grow: 1;
  }
}

/* css for searchbar on the programma- & zoeken-pages (dag.html & search-html) */
.searchbar {
  margin-top: 3.75rem;
}
.day__search-events {
  background-color: #000;
  padding: 5rem 0;
  color: #fff;
  margin-bottom: 5rem;
}

.search-events {
  width: 47rem;
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

@media(max-width: 47.999rem) {
  .search-events__title {
    font-size: 1.5rem;
  }
}

.day-searchbar {
  display: flex;
}

.day-searchbar__input {
  width: calc(100% - 4.5rem);
  height: 3.5rem;
  padding: 0 1rem;
}
.searchbar__input {
  max-width: 49rem;
  padding: 0 5rem 0 1rem;
  background-color: #e9e9e9;
}

.day-searchbar__search-button {
  height: 3.5rem
}
/* css for search-results on search.html*/
.searchresult--amount {
  display: flex;
  margin-top: 3rem;
}

/* css for event-details */
.event-details {
  margin: 2.75rem 0 5rem;
}
.event-details__header > * {
padding-bottom: 0.5rem;
}
.event-details__location {
  display: flex;
}
.event-details__location > p {
  font-size: 1rem;
  margin: 0;
}
@media(min-width: 48rem) {
  .event-details__location > p {
    font-size: 1.125rem;
  }
}
.event-details__location > svg {
  height: 1.2rem;
  width: 1.2rem;
  padding-right: 0.5rem;
}
.event-details__date {
  display: flex;
  flex-direction: column;
}
@media(min-width: 27rem) {
  .event-details__date {
    flex-direction: row;
  }
}
.event-details__date > p {
  font-size: 1.375rem;
  font-weight: 600;
  padding-right: 0.5rem;
  margin: 0;
}
@media(min-width: 48rem) {
  .event-details__date > p {
    font-size: 1.625rem;
  }
}

.event-details__main-flexbox {
  margin-top: 1.5rem;
}
@media(min-width: 48rem) {
  .event-details__main-flexbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .event-details__main-flexbox > * {
    width: 47.5%;
    
  }
}
.event-details__description {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}
@media(min-width: 48rem) {
  .event-details__description {
    font-size: 1.125rem;
  }
}
.event-details__detail-flexbox {
  display: flex;
}
.event-details__detail-flexbox > * {
  font-size: 1rem;
  width: 50%;
  margin: 0;
  padding-bottom: 1rem;
  word-wrap: break-word;
}
@media(min-width: 48rem) {
  .event-details__detail-flexbox > * {
    font-size: 1.125rem;
  }
}
.bold {
  font-weight: 700;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.event-details__link-flexbox {
  display: flex;
  margin-top: 1.5rem;
}

.event-details__link-box {
  height: 1.875rem;
  width: 1.75rem;
  padding: 0.375rem 0.5rem;
  background-color: #e9e9e9;
  margin-right: 0.5rem;
}
.event-details__link-box > a > svg {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin: auto;
  padding: 0.188rem 0;
}
.event-details__link-box > a > svg > path {
  height: 0.838rem;
}
.event-details__link-box:hover {
  background-color: #000;
  fill: #fff;
}

.other-events {
  display: flex;
  flex-direction: column;
  padding: 1.125rem 2rem;
}
@media (min-width: 64rem) {
  .other-events {
    flex-direction: row;
    justify-content: space-between;
  }
}

.other-events > * {
  color: #fff;
  margin: 0;
}
.other-events:hover,
.other-events:hover > * {
  background-color: #e9e9e9;
  color: #000;
}
.other-events__title {
  font-size: 1.188rem;
}
@media(min-width: 48rem) {
  .other-events__title {
    font-size: 1.375rem;
  }
}
.other-events__start {
  margin-right: 2rem;
  font-weight: 900;
}
 .other-events__location {
   font-weight: 400;
   font-size: 0.938rem;
 }
@media(min-width: 48rem) {
  .other-events__start,
  .other-events__location {
    font-size: 1.125rem;
  }
}

.see-also__button {
  font-family: 'Raleway';
  font-size: 1.125rem;
  font-weight: 600;
  width: 27.75rem;
  max-width: 100%;
  padding: 1.25rem 3.125rem;
  border: 3px solid #000;
  background-color: #fff;
  cursor: pointer;
}

.see-also__button:hover {
  background-color: #000;
  color: #fff;
}
/* css for news */
.main__news {
  margin: 3.125rem auto 0;
  width: 81rem;
}

.news-article {
  margin-bottom: 3.125rem;
}

@media (min-width: 64rem) {
  .news-article>a {
    display: flex;
  }
}

.news-link:hover>*>h3 {
  text-decoration: underline;
}

.news__thumbnail-container {
  position: relative;
  margin-bottom: 1.625rem;
  overflow: hidden;
}

.news__thumbnail {
  width: 100%;
  transition: all .2s ease-in-out;
}

.news__date {
  position: absolute;
  bottom: 0.4rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  font-size: 1.375rem;
  font-weight: 600;
}

@media (min-width: 64rem) {
  .news__date {
    padding: 1rem 2rem;
    transform: rotate(-90deg) translateX(-50%);
    top: 25%;
    bottom: auto;
    left: -1.9rem;
    font-size: 1.375rem;
  }
}

.news__synopsis-container {}

@media (min-width: 64rem) {
  .news__synopsis-container {
    width: 50%;
    padding-left: 3.75rem;
  }
}

.news__title {
  margin-bottom: 1.625rem;
}

@media (min-width: 64rem) {
  .news__title {
    font-size: 1.875rem;
    line-height: 2.188rem;
  }
}

.news__button {
  box-sizing: border-box;
  max-width: 21.5rem;
  width: 100%;
  border: 3px solid #000;
  margin-bottom: 3.125rem;
  padding: 1.25rem 3.125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.news__button:hover {
  background-color: #000;
  color: #fff;
}

/* css for carrousel */
.carrousel__image {
  width: 100%;
  margin: 0 auto;
}

/* effects that shouldn't be overwritten by the effects of other classes*/

.invisible {
  display: none;
}